<main class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="py-5">
        <table class="table">
          <tbody>
            <tr>
              <th>
                <div class="img">
                  <%= attachment_image_tag @user, :image, :fill, 100, 100, fallback: "no_image.png", class: "user_profile_image" %>
                </div>
              </th>
              <th>
                <p>follow</p>
                <p><%= @user.follower.count %></p>
              </th>
              <th>
                <p>follower</p>
                <p><%= @user.followed.count %></p>
              </th>
            </tr>
            <tr>
          	  <th>name</th>
          	  <th><%= @user.name %></th>
            </tr>
            <tr>
          	  <th>introduction</th>
          	  <th><%= @user.introduction %></th>
            </tr>
          </tbody>
        </table>
        <%= link_to edit_user_path(current_user), class: 'btn btn-light' do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </div>
    </div>

    <%if @fashion.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@fashion.errors.count, "error") %> prohibited this fashion from being saved:</h2>
          <ul>
            <% @fashion.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      </div>
    <% end %>
          <% @fashions.each do |fashion| %>
            <div class="col-sm-3 offset-md-1">
              <p class="post_image">
                <% fashion.fashion_images.each do |fashion_image| %>
                  <%= link_to fashion_path(fashion.id) do %>
                    <%= attachment_image_tag fashion_image, :image, :fill, 200, 200, fallback: "no_image.png" %>
                  <% end %>
                <% end %>
              </p>
              <p>
                <%= fashion.introduction %>
              </p>
              <div class="dropdown">
                <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#"><%= link_to "Edit", edit_fashion_path(fashion.id), class: 'btn btn-light' %></a>
                  <a class="dropdown-item" href="#"><%= link_to "Destroy", fashion_path(fashion.id), class: 'btn btn-light', method: :delete, "data-confirm" => "本当に削除しますか？" %></a>
                </div>
              </div>
            </div>
          <% end %>
      </div>
  </div>
</main>
