<main class="container">
  <div class="mt-4">
   <%= form_tag('/fashions/search', method: :post) do %>
     　<input id="page_name" name='keyword' size="22" type="text" />
     　<%= submit_tag "search" %>
  　<% end %>
  </div>
  <div class="row">
    <%= flash[:notice] %>
      <%if @fashion.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@fashion.errors.count, "error") %> prohibited this fashion from being saved:</h2>
            <ul>
             <% @fashion.errors.full_messages.each do |message| %>
               <li><%= message %></li>
             <% end %>
            </ul>
        </div>
      <% end %>
      <% @fashions.each do |fashion| %>
        <div class="col-sm-3 offset-md-1">
          <div class="py-5"></div>
             <p class="post_image">
              <% fashion.fashion_images.each do |fashion_image| %>
                <%= link_to fashion_path(fashion.id) do %>
                  <%= attachment_image_tag fashion_image, :image, :fill, 250, 250, fallback: "no_image.png" %>
                <% end %>
              <% end %>
            </p>
            <div id=<%="likes_buttons_#{fashion.id}"%>>
               <% if fashion.favorited_by?(current_user) %>
                  <p>
                    <%= link_to fashion_favorites_path(fashion.id), method: :delete, remote: true do %>
                      ♥<%= fashion.favorites.count %>
                    <% end %>
                  </p>
                  <% else %>
                  <p>
                    <%= link_to fashion_favorites_path(fashion.id), method: :post, remote: true do %>
                      ♡<%= fashion.favorites.count %>
                    <% end %>
                  </p>
                <% end %>
            </div>
            <p>
              <%= fashion.introduction %></p>
            <div class="dropdown">
              <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#"><%= link_to fashion_path(fashion.id), class: 'btn btn-light' do %><%= fashion.fashion_comments.count %> comment <% end %></a>
                <a class="dropdown-item" href="#"><%= link_to "Show", fashion_path(fashion.id), class: 'btn btn-light' %></a>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  <%= paginate @fashions %>
</main>